.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.start-nav{
 display:flex;
 justify-content: space-around;
}
.start-nav > .button-nav{
  border-radius: 10px;
  width: 25%;
  height:55px;
  margin-bottom: 5%;
}
a.button-nav{
  font-size: 14px;
  padding-top:3%;
}
.button-nav{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    font-weight: 300;
    transition: all .2s;
    border: .15em solid black;
    border-radius: 30px;
    color:#FFFFFF;
    background-color:rebeccapurple;
    margin-top:2%;
    width: 15%;
}

.button-nav:visited{
  background-color: #794DA6;
}

.button-nav:hover, .button-nav:focus {
    background-color: #592D86;
    color:black;
    border-color:white;
}

.button-nav:active{
  background-color: #402060;
}


img{
  width:100%;
  height: 100%;
  object-fit:cover;
}

.strike-container{
  grid-column-start: 6;
  grid-row-start: 2;
  display:grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: repeat(4, 1fr);
}
#strikes-title{
  grid-row-start: 1;
  grid-column: 2 / 4 ;
}
.strike{
  grid-row-start: 2;
}

#strike0{
  grid-column-start: 2;
}

#strike1{
  grid-column-start: 3;
}

.widget-container{
  width:100%;
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 2%;
}

.deck-container{

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 5% 3%;
}
#timer{
  grid-row-start: 2;
  grid-column-start:2;

}
.card{
  min-height: 103px;
  min-width: 72px;
  background-color: #282c34;
  padding:.25% .25% .25% .25%;
  margin-right:1%;
}

#scoreInput{
  all: inherit;
  margin-left:auto;
  margin-right:auto;
}
ol{
 text-align: left;
}
li{
  margin-bottom: 2%;
}
@media only screen and (max-width: 600px) {
  /* For phones and mobile devices: */
  .App-header{
    font-size: xx-large;
  }
  .start-nav{
    flex-direction: column;
  }
  .start-nav .button-nav{
    border-radius: 10px;
    width: 100%;
    height:55px;
    margin-bottom: 5%;
  }
  
  a.button-nav{
    font-size: 14px;
    padding-top:18%;
  }

  #replay-button{
    width: 30%;
    font-size: large;
  }

  .widget-container{
    width:100%;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 10%;
    margin-bottom: 5%;
  }

  #timer{
    grid-row-start: 1;
    grid-column-start:4;
  
  }

  .strike-container{
    grid-column-start: 4;
    grid-row-start: 2;
    display:grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(8, 1fr);
  }
  #strikes-title{
    grid-row-start: 1;
    grid-column: 2 / 6 ;
    justify-self: baseline;
  }
  .strike{
    grid-row-start: 2;
  }
  
  #strike0{
    grid-column-start: 4;
  }
  
  #strike1{
    grid-column-start: 5;
  }
}